<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key>
    <string>Mica Thumbnail</string>
    <key>NSExtension</key>
    <dict>
        <key>NSExtensionPointIdentifier</key>
        <string>com.apple.quicklook.thumbnail</string>
        <key>NSExtensionPrincipalClass</key>
        <string>$(PRODUCT_MODULE_NAME).ThumbnailProvider</string>
        <key>QLSupportedContentTypes</key>
        <array>
            <string>public.markdown</string>
            <string>net.daringfireball.markdown</string>
        </array>
        <key>QLThumbnailMinimumSize</key>
        <integer>17</integer>
    </dict>
</dict>
</plist>
